@import 'tailwindcss';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'lenis/dist/lenis.css';
@source '../node_modules/fumadocs-ui/dist/**/*.js';
@source '../__registry__/**/*.tsx';

:root {
  --background: oklch(0.9825 0.0061 317.7531);
  --foreground: oklch(0.3024 0.0529 313.9339);
  --card: oklch(0.9825 0.0061 317.7531);
  --card-foreground: oklch(0.215 0.0025 325.6623);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.237 0.0376 314.0268);
  --primary: oklch(0.4643 0.2517 274.804);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9102 0.024 313.1257);
  --secondary-foreground: oklch(0.4068 0.034 316.576);
  --muted: oklch(0.9169 0.0264 310.3925);
  --muted-foreground: oklch(0.5976 0.0139 317.7251);
  --accent: oklch(0.9102 0.024 313.1257);
  --accent-foreground: oklch(0.237 0.0376 314.0268);
  --destructive: oklch(0.215 0.0025 325.6623);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8801 0.0126 317.7397);
  --input: oklch(0.7438 0.0275 316.1062);
  --ring: oklch(0.9083 0.2462 130.557);
  --chart-1: oklch(0.4116 0.2394 274.8848);
  --chart-2: oklch(0.9001 0.1964 144.4837);
  --chart-3: oklch(0.8421 0.0518 312.608);
  --chart-4: oklch(0.9389 0.0568 148.2272);
  --chart-5: oklch(0.4133 0.2489 273.2021);
  --sidebar: oklch(0.9621 0.0123 317.7422);
  --sidebar-foreground: oklch(0.354 0.0087 325.7594);
  --sidebar-primary: oklch(0.4643 0.2517 274.804);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.9102 0.024 313.1257);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.2637 0.0062 314.7123);
  --foreground: oklch(0.7897 0.0261 311.6515);
  --card: oklch(0.2637 0.0062 314.7123);
  --card-foreground: oklch(0.9825 0.0061 317.7531);
  --popover: oklch(0.3044 0.006 314.7311);
  --popover-foreground: oklch(0.9223 0.0062 317.7522);
  --primary: oklch(0.5201 0.245 278.0018);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9825 0.0061 317.7531);
  --secondary-foreground: oklch(0.3044 0.006 314.7311);
  --muted: oklch(0.217 0.0065 314.6808);
  --muted-foreground: oklch(0.7514 0.0292 316.6979);
  --accent: oklch(0.2093 0.0156 316.301);
  --accent-foreground: oklch(0.9621 0.0123 317.7422);
  --destructive: oklch(0.5449 0.2514 268.2046);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3475 0.0181 318.6747);
  --input: oklch(0.4173 0.0207 316.8545);
  --ring: oklch(0.9083 0.2462 130.557);
  --chart-1: oklch(0.4116 0.2394 274.8848);
  --chart-2: oklch(0.9001 0.1964 144.4837);
  --chart-3: oklch(0.2093 0.0156 316.301);
  --chart-4: oklch(0.3839 0.0792 143.3509);
  --chart-5: oklch(0.4133 0.2489 273.2021);
  --sidebar: oklch(0.2331 0.0059 301.0876);
  --sidebar-foreground: oklch(0.7897 0.0261 311.6515);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.2126 0.0066 314.6771);
  --sidebar-accent-foreground: oklch(0.7897 0.0261 311.6515);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }

  a[href^='/docs/installation'] > svg[data-icon='true'] {
    @apply !hidden;
  }

  #nd-docs-layout {
    @apply relative;
  }
  figure.shiki {
    @apply !bg-muted;
  }

  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
}
